<!-- AI usage: Initial markup prototyped by Claude per author's UI redesign prompt, then modified by the author. -->
{% extends "base.html" %}
{% block content %}
<h1>Add new lead</h1>
{% if error %}
    <p class="alert">{{ error }}</p>
{% endif %}
<form method="post" action="/leads/new">
    <h5 style="margin-bottom: 5px">Name</h5>
    <label>
        <input name="name" value="{{name or ''}}" placeholder="John Miller">
    </label>
    <h5 style="margin-bottom: 5px">Company</h5>
    <label>
        <input name="company" value="{{company or ''}}" placeholder="techscope">
    </label>
    <h5 style="margin-bottom: 5px">Website</h5>
    <label>
        <input name="web_site_url" value="{{web_site_url or ''}}" placeholder="www.company.com">
    </label>
    <h5 style="margin-bottom: 5px">Sector</h5>
    <label>
        <input name="sector" value="{{sector or ''}}" placeholder="Technology">
    </label>
    <h5 style="margin-bottom: 5px">Status</h5>
    <label>
        <select name="status" class="status-badge status-new">
            <option value="new" selected>New</option>
            <option value="contacted">Contacted</option>
            <option value="follow_up_1">Follow Up 1</option>
            <option value="follow_up_2">Follow Up 2</option>
            <option value="responded">Responded</option>
            <option value="not_responded">Not Responded</option>
            <option value="won">Won</option>
        </select>
    </label>
    <h5 style="margin-bottom: 5px">Email</h5>
    <label>
        <input name="contact" value="{{contact or ''}}" type="email" placeholder="email">
    </label>
    <h5 style="margin-bottom: 5px">Notes</h5>
    <label>
        <textarea name="notes" placeholder="Company strugles with sales...">{{notes or ''}}</textarea>
    </label>
    <button type="submit">Submit lead</button>
</form>
{% endblock%}