{% extends "base.html" %}
{% block content %}
<form method="post" action="/leads/new">
    <label>
        <input name="name" placeholder="John Miller">
    </label>
    <label>
        <input name="company" placeholder="techscope">
    </label>
    <label>
        <input name="web_site_url" placeholder="www.company.com">
    </label>
    <label>
        <input name="sector" placeholder="Technology">
    </label>
    <label>
        <select name="status">
            <option value="new" selected>New</option>
            <option value="contacted">Contacted</option>
            <option value="follow_up_1">Follow Up 1</option>
            <option value="follow_up_2">Follow Up 2</option>
            <option value="responded">Responded</option>
            <option value="not_responded">Not Responded</option>
            <option value="won">Won</option>
        </select>
    </label>
    <label>
        <input name="contact" type="email" placeholder="email">
    </label>
    <label>
        <textarea name="notes" placeholder="Company strugles with sales..."></textarea>
    </label>
    <button type="submit">Submit lead</button>
</form>
{% endblock%}